.profileHeaderWrapper {
  padding: 1.6rem;
  grid-template-areas: "avatar info-txt";
  grid-template-columns: auto 2fr;
  display: grid;
  gap: 1.6rem;
}

.avatarWrapper {
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px greenyellow; */
}

.infoTxtWrapper {
  grid-area: info-txt;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 0;
  gap: .4rem;
  /* align-items: center; */
}

.infoTxtWrapper  h2{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--yellow-barzim);
}

.infoTxtWrapper section h3 {
  font-size: .8rem;
  padding-bottom: .2rem;
  color: var(--slate-barzim);
}

.infoTxtWrapper section p {
  color: #fffeef;
  font-weight: 400;
  font-size: .9rem;
  line-height: 12pt;
}

.link{
  display: flex;
  align-items: center;
  gap: .6rem;
}
.link a {
  color: var(--yellow-barzim);
  font-size: .8rem;
}

.interactionsBar {
  padding: 0 1.6rem 1rem;
  display: grid;
  grid-template-columns: auto 2fr;
  gap: .8rem;
}

.slots {
  display: flex;
  align-items: stretch;
  color: #fffeef;
  gap: .8rem;
}

.slot {
  flex: 1 1 0;
  min-width: 80px;
  padding: .2rem 0;
  text-align: center;
  border-radius: .725rem;
  background-color: var(--slate-barzim);
}
.slot > * {
  margin: 0;
  padding: 0;
}
.slot div {
  font-size: 1.2rem;
}
.slot h2 {
  text-transform: lowercase;
  font-size: .8rem;
}

.followBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .725rem;
  height: 100%;
  width: 100%;
  background-color: var(--yellow-barzim);
  font-size: .8rem;
}

.contentBody {
  background-color: var(--deep-black);
  color: #fffeef;
  min-height: 100%;
}