/* list-item.module.css */
.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 0.01em solid var(--slate-barzim); /* Use a unidade em */
}

.description {
  color: var(--tabs-background);
  font-size: 14px;
}

.emoji {
  font-size: 32px;
}
