.container {
  text-align: center;
  padding-bottom: 2rem;
}

.image {
  filter: var(--icon-filter);
  max-width: 250px;
  height: 180px;
  margin-bottom: 10px;
  object-fit: cover;
}

.text {
  color: var(--slate-barzim);
  font-size: 1rem;
  margin-bottom: 10px;
}

.button {
  background-color: transparent;
  color: var(--marfim-barzim);
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 9999px;
  border: 1px solid var(--marfim-barzim);
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 0.5px;
}

.button:hover {
  background-color: var(--deep-vermillo);
}
