.desktopMenu {
  display: none;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  margin-inline-start: auto;
}
.mobileMenu {
  grid-area: menu;
  padding: 0.5rem;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .desktopMenu {
    display: block;
  }

  .mobileMenu {
    visibility: hidden;
  }
}
