/* beer-card-module.css */

.beerCard {
  width: 180px;
  max-height: 252px;
  background-color: var(--slate-barzim);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--sutil-shadow);
  border: 1px solid var(--border);
}

.beerTitle {
  color: var(--slate-barzim);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 12px;
  /* Ajuste o tamanho da fonte conforme necessário */
  margin-top: 0.5rem;
}

.beerDescription {
  color: var(--marfim-barzim);
  font-size: 16px;
  /* Ajuste o tamanho da fonte conforme necessário */
  margin-top: 0.5rem;
}

.emojis {
  display: flex;
  justify-content: flex-start; /* Align emojis to the left */
  margin-top: 0.5rem;
}

.emojis span {
  margin: 0 0.25rem;
}

.beerTexts {
  background-color: var(--deep-black);
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}