@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 43, 99%, 60%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.75rem;

    /* ABAIXO BARZIM  */
    --logo-filter: invert(1);
    --yellow-barzim: #fec435;
    --yellow-barzim-HSL: 43, 99%, 60%;
    --slate-barzim: #434343;
    --marfim-barzim: #fffeef;
    --deep-black: #141414;
    --deep-vermillo: #b82f18;
    --tabs-background: #686868;
    --stroke-bg-cervejas: rgb(117, 117, 117, 0.12);
    --bg-cards: rgb(107, 107, 107, 0.12);
    --black-fill-cards: rgba(19, 19, 19, 0.85);

    --yellow-trasparent-gradient: linear-gradient(
      #feae16,
      rgba(254, 174, 22, 0.35),
      #feae16
    );
    --black-radial-gradient: radial-gradient(at right top, #1b1b1b, #141414);

    --sutil-shadow: 0px 2px 10px rgba(30 30 30 / 0.15);
    --sharp-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    --letter-spacing: 0.5px;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 43, 99%, 60%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;

    /* ABAIXO BARZIM */

    --logo-filter: invert(0);
  }
}

html,
body,
:root {
  height: 100%;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
