/* components/SendReviewButton.module.css */
.buttonContainer {
    display: inline-block;
  }
  
  .button {
    background-color: var(--yellow-barzim);
    color: var(--deep-black);
    font-weight: bold;
    border-radius: 1000px;
    padding: 0.5rem;
    width: 353px;
    cursor: pointer;
    box-shadow: var(--sutil-shadow);
  }
  