.beerImageWrapper {
  position: relative;
  width: 200px;
  height: 250px;
  padding: 1rem;
}
@media only screen and (min-width: 768px) {
  .beerImageWrapper {
    width: 240px;
    height: 420px;
    margin: 1rem;
  }
}
