.container {
  grid-template-rows: 70px auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'nav'
    'main'
    'menu';
}
.main {
  grid-area: main;
}

.menu {
  grid-area: menu;
}

@media only screen and (min-width: 768px) {
  .container {
    /* background-color: rebeccapurple; */
    grid-template-rows: 70px auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'nav nav nav'
      'menu main main';
  }
  .main {
    margin: 0 2rem;
    border-inline: 1px solid var(--bg-cards);
  }
}
