/* components/image-reviews.module.css */
.textNota {
    color: var(--tabs-background);
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .imagesContainer {
    display: flex;
    align-items: center;
  }
  
  .image {
    width: 24px; /* Ajuste o tamanho conforme necessário */
    height: 24px; /* Ajuste o tamanho conforme necessário */
    margin-right: 4px; /* Adicione margem entre as imagens conforme necessário */
  }
  