.desktopMenu {
  display: none;
}
.mobileMenu {
  padding: 0.5rem;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .desktopMenu {
    display: block;
  }

  .mobileMenu {
    visibility: hidden;
  }
}
