/* carousel-card.module.css */
.card {
  position: relative;
  background-color: var(--bg-cards);
  border: 1px solid var(--stroke-bg-cervejas);
  border-radius: var(--radius);
  box-shadow: var(--sutil-shadow);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  text-align: center;
  font-size: 14px;
  color: var(--marfim-barzim);
  margin-top: 0.5rem;
  letter-spacing: var(--letter-spacing)
}
