/* DetalhesCerveja.module.css */

.container {
  padding-inline: 32px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data {
  color: var(--yellow-barzim);
  font-weight: bold;
}
