/* title-section.module.css */
.title {
  color: var(--yellow-barzim);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
}

.titleSmall {
  color: var(--slate-barzim);
  margin-bottom: 6px;
  font-size: 0.85rem;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;
}

.buttonContainer {
  background-color: var(--slate-barzim);
  width: 50px;
  font-size: 10px;
  height: 20px;
  border-radius: var(--radius);
  box-shadow: var(--sutil-shadow);
  display: flex;
  align-items: center; /* Para centralizar verticalmente */
  letter-spacing: var(--letter-spacing);
}

.buttonContainer button {
  color: var(--marfim-barzim); /* Adicione a cor marfim ao texto do botão */
  margin: 0; /* Remova qualquer margem padrão do botão */
  padding: 0 5px; /* Adicione um espaçamento interno ao botão para melhorar a aparência */
}
